.game{
    width: 130px;
    border: 1px solid black;
    margin: 8px;
    padding: 4px;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
}
.game.active{
    background-color: #ddd;
}