.game-button{
    width: 130px;
    height: 52px;
    border: 1px solid black;
    margin: 8px;
    padding: 4px;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
    float: left;
    text-align: center;
}
.game-button.active{
    background-color: #ddd;
}
.has-info-badge:before{
    content:attr(data-info-badge);
    position: absolute;
    background: green;
    height: 20px;
    top: -6px;
    right: 1px;
    width: 20px;
    text-align: center;
    line-height: 2rem;
    font-size: 8px;
    border-radius: 50%;
    color: white;
    border: 1px solid gray;
    z-index: 2;
}
.has-bad-badge:after{
    content:attr(data-bad-badge);
    position: absolute;
    background: red;
    height: 20px;
    top: -6px;
    right: 25px;
    width: 20px;
    text-align: center;
    line-height: 2rem;
    font-size: 8px;
    border-radius: 50%;
    color: white;
    border: 1px solid red;
}
td.discrepancy{
    background-color: red;
    color:white;
    cursor:pointer;
}
.settings{
    
}